@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

body.new-font {
  font-family: 'Indie Flower', cursive;
}

body.new-color {
  color: hsl(299, 88%, 57%);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

div.center {
  width: 75%;
  margin: 0 auto;

  text-align: center;
}

div.section {
  border-radius: 5px;
  margin: 1.75rem 0;
}

.button {
  background: hsla(0, 0%, 0%, 0);
  display: inline-block;
  padding: 0.55rem 1.15rem;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid black;
}
